@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(231, 223, 216);
    --foreground: rgb(121, 63, 63);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
